//variables de couleur //
$main_color-brown: rgb(160, 113, 86);
$main_color-cream:rgb(235, 214, 147);


//page d'accueil//
.address{
    text-align:center;
    background-color: $main_color-cream;
    padding-top:1rem;
    padding-bottom: 0.5rem;
    color: $main_color-brown;
    text-shadow: 1px 1px 2px #000;
    & p{
        font-size: 1.5rem;
        font-weight: bold;
    }
}

.navbar{
    padding-top: 0.5rem;
    background-color: $main_color-brown!important;
}


.position{
    justify-content:flex-end!important;
}
.navbar-nav{
    column-gap: 2rem;
    margin-top: 0.5rem;
    & .nav-item{
        font-weight: 700;
    }
    & .nav-link{
        color: rgb(51, 48, 48)!important;
        font-size: 1.3rem;
        &:hover{
            background: $main_color-cream;
            border-radius: 8px;
            color:$main_color-brown!important;
            padding-left:10px;
            text-shadow: 2px 1px 2px #000;
        }
    }
}


