@-webkit-keyframes turn {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes turn {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

@-webkit-keyframes appear {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

html,
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  width: 100%;
}

header h1 {
  background-color: #fcd34d;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  color: #494948;
  text-shadow: 1px 1px 2px #000;
  text-align: center;
  margin-bottom: 0;
}

header h1 .key-left {
  margin-right: 2rem;
  -webkit-animation: turn 5s infinite ease-out;
          animation: turn 5s infinite ease-out;
}

header h1 p {
  padding-left: 6%;
}

.navbar {
  background-color: #494948 !important;
}

.position {
  -webkit-box-pack: end !important;
      -ms-flex-pack: end !important;
          justify-content: flex-end !important;
}

.navbar-nav {
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  margin-top: 0.5rem;
}

.navbar-nav .nav-item {
  font-weight: 700;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.navbar-nav .dropdown {
  margin-top: 0.6rem;
}

.navbar-nav .btnKey {
  padding: 0.7rem 0.6rem 0.55rem 0.6rem;
  margin-left: -8px;
}

.navbar-nav .nav-link,
.navbar-nav .btnKey {
  text-decoration: none;
  background-color: #e9e5e5;
  color: #494948 !important;
  font-size: 1.3rem;
  border-radius: 8px;
}

.navbar-nav .nav-link:hover,
.navbar-nav .btnKey:hover {
  background: #fcd34d;
  border-radius: 8px;
  color: #494948 !important;
}

.navbar-toggler {
  background-color: #e9e5e5 !important;
}

.phone {
  font-weight: bold;
  font-size: 1.3rem;
  padding-top: 10px;
  color: #e9e5e5;
  text-align: center;
}

main {
  background-color: #e9e5e5;
  max-width: 100%;
  max-height: 100%;
}

.carousel-indicators {
  margin-bottom: 0rem !important;
  bottom: -4.5rem !important;
}

.carousel-indicators [data-bs-target] {
  background-color: #494948;
  opacity: 1 !important;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px !important;
}

.carousel-indicators .active {
  background-color: #fcd34d !important;
}

.carousel_size {
  width: 35rem;
  margin: auto;
  padding-top: 2rem;
}

.carousel_size .size {
  margin: auto;
  width: 29rem;
  height: 26rem;
  background-color: #494948;
  overflow: hidden;
  -o-object-fit: contain;
     object-fit: contain;
}

.carousel_size h2 {
  text-shadow: 2px 1px 1px #000;
  color: #fff;
  margin-bottom: -2rem !important;
}

.carousel_size .color {
  color: #494948 !important;
  margin-bottom: 5rem;
}

.carousel_size .left {
  margin-right: 13.5rem;
}

.carousel_size .carousel-control-next-icon,
.carousel_size .carousel-control-prev-icon {
  background-image: none !important;
}

.main h3 {
  text-align: center;
  font-size: 2.7rem;
  margin-top: 7rem;
  font-weight: bold;
  background: -webkit-gradient(linear, left top, right top, from(#494948), color-stop(#fcd34d), to(#494948));
  background: linear-gradient(90deg, #494948, #fcd34d, #494948);
  background-size: 80%;
  -webkit-animation: animate 15s infinite ease-in;
          animation: animate 15s infinite ease-in;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

.address {
  text-shadow: 1px 1px 2px #000;
  text-align: center;
  font-size: 2rem;
  padding-bottom: 0;
}

.presentation {
  margin: auto;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 3rem;
  color: #494948;
}

.all_services {
  line-height: 2;
  max-width: 90% !important;
  margin-bottom: 2rem !important;
}

.all_services a {
  color: #fcd34d;
  text-decoration: none;
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
  font-weight: bold;
  background-color: #494948;
  margin: 1rem 1rem;
  padding: 4px 8px;
}

.all_services a:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  color: #e9e5e5;
}

.all_services svg {
  margin-bottom: 8px;
  margin-left: 8px;
}

.img-fluid {
  -webkit-box-shadow: 5px 5px 5px #000;
          box-shadow: 5px 5px 5px #000;
  overflow: hidden;
}

footer {
  width: 100%;
}

.footer {
  background-color: #494948;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
}

.footer .copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2rem;
  color: #fff;
}

.footer .director {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 0.5rem;
          column-gap: 0.5rem;
}

.footer .director img {
  width: 4rem;
  height: auto;
}

.footer .director a {
  color: #fcd34d;
  text-decoration: none;
  font-weight: bold;
}

.footer .director a:hover {
  color: #000;
  text-shadow: 1px 1px 2px #fcd34d;
}

.footer .director .law {
  color: #ebe8e8;
  padding-left: 1rem;
  padding-top: 0.1rem;
  font-size: 0.9rem !important;
}

.footer .director .law:hover {
  color: #000 !important;
  text-shadow: 1px 1px 2px #fff;
}

.tmp {
  height: 75vh;
}

.tmp .insert {
  padding-top: 25vh;
}

.card {
  border: 2px solid #fcd34d;
  -webkit-box-shadow: 5px 5px 5px #000;
          box-shadow: 5px 5px 5px #000;
}

.card .bg-yellow {
  background-color: #fcd34d;
}

.card img {
  height: 22rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.card h3 {
  font-size: 1.6rem;
  text-shadow: 1px 2px 2px #e9e5e5;
  margin-top: 0 !important;
  color: #000 !important;
  padding-bottom: 0.3rem;
}

.card .card-text::first-letter {
  margin-left: 2rem;
}

.featurette:nth-of-type(1) {
  -webkit-animation: appear 500ms;
          animation: appear 500ms;
}

.featurette:nth-of-type(2) {
  -webkit-animation: appear 1500ms 500ms backwards;
          animation: appear 1500ms 500ms backwards;
}

.featurette:nth-of-type(3) {
  -webkit-animation: appear 2000ms 1000ms backwards;
          animation: appear 2000ms 1000ms backwards;
}

.imgKey {
  width: 250px;
  height: 250px;
  -o-object-fit: contain;
     object-fit: contain;
}

.key {
  max-width: 80%;
}

.key .textKey {
  text-align: justify;
}

.espace {
  padding-left: 3.5rem;
}

.security p {
  font-size: 1.3rem;
  max-width: 80%;
  margin: auto;
}

.security_img {
  height: auto;
  width: auto;
}

.img_funny {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 5rem;
          column-gap: 5rem;
}

.img_funny img {
  height: 28rem;
  margin-top: 2rem;
  border-radius: 15px;
}

.schedule {
  color: #494948;
  font-size: 2.5rem;
  text-align: center;
}

.schedule h1 {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  color: #494948;
  text-shadow: 1px 1px 2px #000;
  text-align: center;
  font-size: 3rem;
  padding-top: 3rem;
}

.map {
  margin: auto !important;
}

.map h2 {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  color: #494948;
  text-shadow: 1px 1px 2px #000;
  text-align: center;
  font-size: 3rem;
}

.map iframe {
  margin-left: 5%;
  margin-right: 5%;
}

.title {
  text-shadow: 2px 1px 1px #000;
  color: #494948;
  margin-bottom: -2rem !important;
  font-size: 3rem !important;
}

.services {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.mentions {
  padding-top: 3rem;
  padding-left: 3.5rem;
}

.mentions h1 {
  padding-bottom: 2rem;
  color: #fcd34d;
  text-shadow: 1px 1px 2px #000;
}

.return_home {
  padding-left: 7vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3rem;
}

.return_home .link_home {
  text-decoration: none;
  color: #fcd34d;
  text-shadow: 1px 1px 2px #000;
  font-weight: bold;
  padding-bottom: 45%;
}

.return_home .link_home:hover {
  color: #585858;
  font-weight: normal;
}

.return_home .link_home .arrow {
  width: 40px;
  margin-right: 1rem;
}

.scroll_to_top {
  position: fixed;
  bottom: 1rem;
  right: 0.6rem;
  color: #494948;
  border: 3px solid #494948;
  border-radius: 8px;
  background-color: #fcd34d;
}

@media all and (min-width: 1250px) {
  .key {
    max-width: 60%;
  }
}

@media all and (min-width: 900px) {
  .img-fluid {
    max-width: 60% !important;
  }
}

@media all and (max-width: 990px) {
  .insert {
    margin-left: 10% !important;
    margin-right: 10% !important;
  }
  .navbar-nav li {
    margin-bottom: 1rem !important;
  }
  .navbar-nav li a {
    padding-left: 1rem !important;
  }
  .img_funny {
    -webkit-column-gap: 4rem;
            column-gap: 4rem;
  }
  .img_funny .schedule {
    font-size: 2rem;
  }
  .nav-item .nav-link:hover {
    background-color: #e9e5e5 !important;
    color: #000 !important;
    text-shadow: 0.5px 0.5px 1px #000;
  }
  .dropdown {
    width: 100% !important;
    background-color: #e9e5e5;
    padding: 0.6rem;
    border-radius: 8px;
    margin-top: 0 !important;
  }
  .dropdown .btnKey:hover {
    background-color: #e9e5e5;
    color: #000 !important;
    text-shadow: 0.5px 0.5px 1px #000;
  }
}

@media all and (max-width: 720px) {
  .carousel_size {
    width: 90%;
    height: auto;
  }
  .carousel_size .size {
    width: 75%;
    height: 22rem;
  }
  .carousel_size .right,
  .carousel_size .left {
    display: none;
  }
  .img_funny {
    -webkit-column-gap: 2rem;
            column-gap: 2rem;
  }
  .img_funny .schedule {
    font-size: 1.8rem;
  }
}

@media all and (max-width: 680px) {
  .schedule h1 {
    font-size: 3rem !important;
  }
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .footer .relance {
    margin: auto;
  }
  .footer .copyright {
    font-size: 1rem;
    width: 80%;
    margin: auto;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
  }
  .footer .director {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-column-gap: 0.5rem;
            column-gap: 0.5rem;
  }
  .footer .director img {
    width: 4.5rem;
    max-height: 2.5rem;
    margin: auto;
  }
  .footer .director a:hover {
    color: #fcd34d;
    text-shadow: 0 0 0 #000;
  }
  .footer .law {
    color: #dfdddd !important;
    padding-left: 1rem;
    padding-top: 0.2rem;
    font-size: 0.8rem !important;
  }
  .footer .law:hover {
    color: #000 !important;
    text-shadow: 1px 1px 2px #fff;
  }
}

@media all and (max-width: 550px) {
  .img_funny {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .presentation {
    font-size: 1.3rem;
    margin: 0 1rem;
  }
  .presentation .all_services a {
    margin: 6px !important;
    font-size: 1.1rem;
  }
  .address {
    font-size: 1.6rem;
  }
  .main h3 {
    font-size: 2.4rem;
  }
}

@media all and (max-width: 450px) {
  h3 {
    font-size: 2.1rem;
  }
  .address {
    font-size: 1.4rem;
  }
  .navbar .phone {
    font-size: 1.1rem;
  }
  header h1 .key-left {
    margin-right: 1rem;
  }
  .carousel_size .size {
    width: 85%;
    height: 16rem;
  }
  .mentions {
    padding-left: 2rem;
  }
  .all_services {
    font-size: 1.2rem;
  }
}

@media all and (max-width: 400px) {
  .carousel_size {
    width: 85%;
  }
  h3 {
    font-size: 1.8rem;
  }
}
/*# sourceMappingURL=style.css.map */